* {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1350px;
    margin: 0 auto;
}

/* comon style */

.description {
    font-size: .8rem;
    color: #727272;
    font-weight: 400;
    margin: 18px 0;
}

.btn {
    width: 150px;
    height: 54px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.title {
    font-size: 2rem;
    color: #131313;
    font-weight: 700;
}

/* header section */
header {
    /* width: 100%; */
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

nav>ul>li {
    list-style: none;
}

.header-title-div {
    margin: 70px auto 0;
    text-align: center;
}

.header-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 45px 0 15px;
}

.banner img {
    width: 70%;
}

/* group photo section */

.architects-group-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;

}

.group-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    /* border: 2px solid purple; */
}

.group-img img {
    width: 250px;
    height: 260px;
}

.quic-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features-font {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* features section */

.features {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 72%;
    margin: 50px auto 0;
    border-radius: 5px;
}

.features-details {
    width: 100%;
    padding: 10px 0;
}

.features-details>h2 {
    padding: 5px 0 0 25px;
    border-left: 3px solid #FF900E;
}

.features-title-description {
    margin-top: 10px;
}

.features-box {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 13px;
}

.features-box-title {
    font-size: .8rem;
}

.features-box-description {
    margin-top: 5px;
}

.features-img {
    width: 100%;
}

.features-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.experience-btn {
    height: 110px;
    width: 220px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    margin-left: -50px;
    margin-top: -80px;
}

.experience-btn>h2 {
    font-size: 2.3rem;
}

.experience-btn>p {
    font-size: .9rem;
}

/* some facts section //// token section */

.token-section {
    width: 72%;
    margin: 80px auto 0;
}

.token-parent-div {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.token {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.token>img {
    width: 20%;
}

.token-title {
    color: #424242;
    font-weight: 600;
}

.token-description {
    margin-top: 0;
}

/* sponspors section */

.sponspors {
    margin: 60px auto 0;
    width: 72%;
    text-align: center;
}

.sponspors-image {
    display: flex;
    justify-content: space-evenly;
}

.sponspors-image>img {
    width: 10%;
    margin-top: 10px;
}

/* footer section */

footer {
    width: 72%;
    margin: 80px auto 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    border: none;
    padding: 20px 0;
}

footer>p {
    color: #424242;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
}



/* responsive for small device */


@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        gap: 5px;
        padding-left: 0;
        margin-top: 5px;
    }
    .architects-group-photo {
        flex-direction: column;

    }

    .group-img {
        grid-template-columns: 1fr;
    }

    .group-discation {
        padding: 0 5px;
    }
    .features{
        flex-direction: column-reverse;

    }
    .experience-btn{
        position: static;
        margin: 0;
    }
    .token-parent-div{
        flex-direction: column;
        align-items: center;
    }

    .sponspors{
        width: 100%;
    }
    .sponspors-image> img{
        width: 15%;
    }
    footer{
        width: 95%;
    }
}